adium-theme-ubuntu==0.3.4
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
Babel==2.4.0
beautifulsoup4==4.4.1
blinker==1.4
cffi==1.10.0
chardet==2.3.0
click==6.7
constantly==15.1.0
coverage==4.4.1
cryptography==2.0.3
cssselect==1.0.1
cvxopt==1.1.4
cycler==0.9.0
decorator==4.1.2
dnspython==1.12.0
enum34==1.1.6
et-xmlfile==1.0.1
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
guess-language==0.2
html5lib==0.999
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
itsdangerous==0.24
jdcal==1.0
Jinja2==2.9.6
joblib==0.9.4
lml==0.0.1
lxml==3.5.0
MarkupSafe==1.0
matplotlib==1.5.1
more-itertools==3.2.0
nose==1.3.7
numexpr==2.4.3
numpy==1.13.1
openpyxl==2.4.8
PAM==0.4.2
pandas==0.20.3
parsel==1.2.0
Parsley==1.2
patsy==0.4.1
pbr==3.1.1
Pillow==3.1.2
psutil==3.4.2
py==1.4.31
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
pyexcel==0.5.3
pyexcel-cli==0.0.3
pyexcel-io==0.4.4
pyexcel-xlsx==0.4.1
pyliblzma==0.5.3
pyOpenSSL==17.2.0
pyparsing==2.0.3
pyserial==3.0.1
pytest==2.8.7
python-dateutil==2.6.1
python-openid==2.2.5
pytz==2017.2
queuelib==1.4.2
scipy==0.17.0
Scrapy==1.4.0
selenium==3.5.0
service-identity==17.0.0
simplejson==3.8.1
six==1.10.0
SQLAlchemy==1.1.13
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
statsmodels==0.6.1
tables==3.2.2
Tempita==0.5.2
texttable==0.9.1
Twisted==17.5.0
txsocksx==0.0.0
unity-lens-photos==1.0
virtualenv==15.0.1
w3lib==1.18.0
Werkzeug==0.12.2
Whoosh==2.7.4
WTForms==2.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlrd==0.9.4
xlwt==0.7.5
zope.interface==4.4.2
